<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="assets/css/styles.css" rel="stylesheet">
  <title>Online Sequencer</title>
  <script src="assets/js/howler.min.js" defer></script>
  <script src="assets/js/sequencer.js" defer></script>
</head>
<body>
  <div class="flex items-center justify-center h-screen">
 
    <div class="rounded bg-blue-100 filter drop-shadow-lg p-10">
      <div class="grid grid-cols-5 gap-3 pb-4">
        <div></div>
        <button class="btn" id="play">Play</button>
        <button class="btn" id="reset">Reset</button>
        <div class="p-2 col-span-2">
          <label for="bpm" class="font-bold mr-1">BPM</label>
          <input id="bpm" value="100" type="range" min="60" max="140">
        </div>
      </div>

      <div class="grid grid-cols-10 gap-3" id="sequencer">
        {% for sound in sounds %}
          <label class="pt-2 col-span-2 font-bold text-right">{{ sound }}</label>
          {% for step in (1..8) %}
            <button
              class="rounded h-10 w-10 step step-{{ step }}"
              data-sound="{{ sound }}"
              data-step="{{ step }}"
            ></button>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  
  </div>
</body>
</html>
